
@{
}

<div class="container-fluid";">
    <div class="row">
        <div class="col-7" style="background-color:#8c24c9">
            <video controls="controls" width="100%">
                <source src=@Url.Content(Model.VideoComplet) />
            </video>
        </div>
        <div class="col-5" style="background-color:#fa8c8c; padding:2%">
            <h1>@Model.Titre</h1>

            <br />

            <p>Type : @Model.TypeVideo</p>
            <p>Fait par : @Model.Auteur</p>
            <p>Mettant en vedette : @Model.Acteur</p>

            <br />

            <p>Date de mise en ligne : @Model.DateMiseEnLigne</p>

            <br />

            
            @if (ViewBag.EstFavori)
            {
                <h4>
                    Retirer de mes favoris :
                    <a asp-route="userVideo" asp-route-id="@Model.IdVideo" asp-route-favoriEstModifie=true>
                        <img src="~/imageSite/iconeFavori.png" class="boutonLike" />
                    </a>
                </h4>
            }
            else
            {
                <h4>
                    Ajouter à mes favoris :
                    <a asp-route="userVideo" asp-route-id="@Model.IdVideo" asp-route-favoriEstModifie=true>
                        <img src="~/imageSite/iconeNonFavori.png" class="boutonLike" />
                    </a>
                </h4>
            }

            @*href="VideoSpecifique?id=@Model.IdVideo"*@
        </div>
    </div>
    <div class="row">
        <div class="col-3" style="background-color:#32c23e; padding: 2%">
            <h4>Évaluations</h4>
            <p>Contenu à venir ...</p>
        </div>
    </div>
    
</div>


