
@{
    <div>
        <h1>Les Médias Administrateur </h1>


        <div class="row">
            @* Le model reçu est une liste de listes contenant une vidéo et un booléen associé qui signale si cette vidéo est dans les favoris de l'utilisateur connecté' *@
            @foreach (var video in Model)
            {
                <div class="col-md-3 col-sm-12">
                    <a asp-route="AdminVideo" asp-route-id="@video.IdVideo">
                        <div class="card text-end bg-clear text-white divHover">
                            <video id=video_@video.IdVideo class="videoHover" style="height:175px" loop poster="@Url.Content(video.Image)" style="background-color:yellow">
                                <source src="@Url.Content(video.Extrait)" muted="muted" />
                            </video>

                            <div class="card-img-overlay">
                                <p class="card-text">
                                    <mark>
                                        @* Si la coteEvaluation est -1 alors ça signifie qu'il n'y a pas encore eu d'évaluations pour la vidéo donc on affiche un tiret pour distinguer *@
                                        @if (video.CoteEvaluation == -1)
                                        {
                                            <mark>
                                                -
                                            </mark>
                                        }
                                        else
                                        {
                                            @video.CoteEvaluation
                                        }
                                        <img class="iconeEvalMedia" src="~/imageSite/IconeCoteEpawluation.png">
                                    </mark>
                                <p />
                                <p class="card-text dureeVideo"><mark>@video.DureeVideo min</mark></p>
                                <p class="card-text">

                                </p>
                            </div>
                        </div>
                    </a>
                    <p>
                        @video.Titre
                        <br />
                        @video.TypeVideo
                    </p>
                </div>
            }
        </div>



    </div>
}
